*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #181a1b;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

.meme-text {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 0 4px #000, 0 2px 4px #000, -2px 0 4px #000, 0 -2px 4px #000;
    color: white;
    font-size: 65px;
    text-align: center;
}

.meme {
    background-image: url('/img/engineer.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.editor {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.editor-button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    font-family: inherit;
    font-size: 25px;
    border: none;
    background-color: #0d4e6d;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}
